<% titled_box 	'Profile',
				'orange',
				:edit_link => display_edit_link(@user, link_to('(edit)', edit_user_profile_path(@user))),
				:content_css_class => 'small' do %>
<table>
	<tr>
		<td><b>Name:</b></td>
		<td><%= limit_text @user.profile.full_name %></td>
	</tr>
	<tr>
		<td><b>Age:</b></td>
		<td><%= limit_text @user.profile.age %></td>
	</tr>
	<tr>
		<td><b>Sex:</b></td>
		<td><%= limit_text @user.profile.gender %></td>
	</tr>
	<tr>
		<td><b>Occupation:</b></td>
		<td><%= limit_text @user.profile.occupation %></td>
	</tr>
	<tr>
		<td><b>City:</b></td>
		<td><%= limit_text @user.profile.city %></td>
	</tr>
	<tr>
		<td><b>County:</b></td>
		<td><%= limit_text @user.profile.county %></td>
	</tr>
	<tr>
		<td><b>Post Code:</b></td>
		<td><%= limit_text @user.profile.post_code %></td>
	</tr>
</table>
<% end %>