<fieldset>
    <legend>Send Message</legend>
    <%= f.hidden_field :receiver_id %>
    <ol>
    	<li>
        	<label for="message_subject">Subject</label><br/>
        	<%= f.text_field :subject, :class => 'text' %>
    	</li>
		<li>
			<label for="message[body]">Message</label><br/>
			<%= textile_editor :message, :body, :rows => 10 %>
			<%=textile_helper_link%>
		</li>
    </ol>
</fieldset>
<%= textile_editor_initialize -%>