<% content_tag :div, :class => css_class do %>
	<span clas="edit-link"><%= "#{ link_to '(manage)', blog_posts_path(@user.blog) }" %></span>
	
	<h3>Latest Posts:</h3>
	<% unless @user.blog.posts.length > 0 -%>
		<p>You don't have any blog posts yet! <%= link_to 'Why not add one now?', new_blog_post_path(@user.blog) %></p>
	<% else -%>
		<%= will_paginate @posts %>
		<%= render :partial => "posts/post_listing", :locals => {:posts => @posts} %>
		<%= will_paginate @posts %>
	<% end -%>

<% end %>