<% @title = "Contact Us" -%>
<% titled_box 'Contact Us',
			  'orange',
			  :box_id => 'feature' do %>
<h1>Contact Us</h1>
<p><%= SITENAME %> is a new social network project under development by <a href="http://www.digitalblueprint.co.uk">DigitalBlueprint Ltd</a> to be
used as a foundation for numerous industry and niche specific applications.</p>
<p><a href="http://www.digitalblueprint.co.uk">DigitalBlueprint Ltd</a> is a small web design company located in East Sussex that specialises
in Ruby on Rails. To find out more, or to contact us directly please visit <a href="http://www.digitalblueprint.co.uk">our website.</a> or use the contact form below.</p>


<%= error_messages_for :contact %>
<% form_for(:contact, :url => {:controller => :site, :action => :send_contact_submission}, :html => {:class => 'form'}) do |f| %>
<fieldset>
	<legend>Contact Details</legend>
	<ol>
		<li>
			<label for="contact_name">Name: <em><img src="/images/required_star.gif" alt="required" /></em></label>
		    <%= f.text_field :name, :class => 'text' %>
		</li>
		<li>
			<label for="contact_company">Company:</label>
		    <%= f.text_field :company, :class => 'text' %>
		</li>
		<li>
			<label for="contact_phone">Phone:</label>
		    <%= f.text_field :phone, :class => 'text' %>
		</li>
		<li>
			<label for="contact_email_address">Email Address: <em><img src="/images/required_star.gif" alt="required" /></em></label>
		    <%= f.text_field :email_address, :class => 'text' %>
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Message</legend>
	<ol>
		<li>
			<label for="contact_contact_type">Contact Type: <em><img src="/images/required_star.gif" alt="required" /></em></label>
			<%= f.select :contact_type, @contact_types, :include_blank => true %>
		</li>
		<li>
			<label for="contact_subject">Subject: <em><img src="/images/required_star.gif" alt="required" /></em></label>
			<%= f.text_field :subject, :class => 'text' %>
		</li>
		<li>
			<label for="contact_message">Message: <em><img src="/images/required_star.gif" alt="required" /></em></label>
			<%= f.text_area :message, :rows => 10, :class => 'text' %>
		</li>
	</ol>
</fieldset>
<fieldset class="submit">
	<%= submit_tag "Send" %>
</fieldset>
<% end %>

<% end %>