<div class="author-box">
	<p class="name"><%= user.full_name %></p>
	<%= image_tag user.avatar.public_path(:tiny) unless user.avatar.nil? %>
	<%unless user.bio.author_about.blank? -%>
		<p><%= user.bio.author_about %></p>
	<%else -%>
		<p><%=user.full_name%> does not have an author description yet, maybe you would like to
			<%= link_to 'view their profile', user_path(user) %> instead?</p>
	<%end -%>
	<p><%= user.full_name %> has written <%= pluralize user.articles.length, 'article' %> for Viper.</p>
	<p><%= link_to "Read all articles by #{user.full_name}&hellip;", :controller => 'users', :action => 'articles', :id => user %></p>
</div>