<div class="post">
<div class="post-header clearfix">
	<div class="image">
		<span>
			<%= link_to avatar_for(post.blog.user, :tiny), user_path(post.blog.user) %>
		</span>
	</div>
	<h2><%= link_to post.title, blog_post_path(post.blog, post) %></h2>
	<span class="byline">by <%= link_to post.blog.user.full_name, user_path(post.blog.user) %></span>
	<span class="post-date"><%= post.created_at %></span>
</div>
<div class="post-body"><p><%= limit_text post.body_plain, 350 %></p></div>
</div>