<p>
  <b>Belongs to:</b>
  <%=h @forum_post.belongs_to %>
</p>

<p>
  <b>Belongs to:</b>
  <%=h @forum_post.belongs_to %>
</p>

<p>
  <b>Belongs to:</b>
  <%=h @forum_post.belongs_to %>
</p>

<p>
  <b>Body:</b>
  <%=h @forum_post.body %>
</p>


<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
