<% @title = 'New Category' -%>

<% titled_box @title,
			  'orange',
			  :box_id => 'feature' do %>

	<%= error_messages_for :category %>

	<% form_for(:category, :url => categories_path, :html => { :class => 'form' }) do |f| %>
		<fieldset>
			<legend><%= @title %></legend>
			<ol>
				<li>
					<label for="category_name">Name:</label>
				    <%= f.text_field :name, :class => 'text' %>
				</li>
				<li>
					<label for="category_description">Description:</label>
					<%= viper_textile_editor :category, :description, :rows => 5, :height => 100 %>
					<%=textile_helper_link%>
				</li>
			</ol>
		</fieldset>
		<fieldset class="submit">
			<%= submit_tag "Create" %> | <%= link_to 'Cancel', categories_path %>
		</fieldset>
		<%= textile_editor_initialize -%>
	<% end %>

<% end %>